
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;
}

.wrapper {
  position: absolute;
  padding: 1.5em;
  width: 50%;
  top: 550%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  padding: .7em 0.5em .7em;
  width: 100%;
  font-family: "Lato", sans-serif;
  margin-top: 2em;
  border: 1px solid #aaa;
}
.search:focus::placeholder {
  transition: .3s ease;
  letter-spacing: 1.5em;
  color: #eeeeee;
}

.err {
  color: #999999;
  font: "Lato", sans-serif;
  text-align: center;
}

table {
  width: 100%;
  font-family: "Lato", sans-serif;
  margin-top: 1em;
}
table thead {
  background: #aaa;
  color: #fff;
  text-transform: uppercase;
}
table tr {
  transition: 1.3s ease;
}
table td {
  padding: .5em .5em;
}
table tr:nth-of-type(2n) {
  background: #eeeeee;
  box-shadow: 1px 1px 2px #aaa;
}
table tr.tran, table h3.tran {
  animation-duration: 1s;
  animation-name: opac;
  animation-timing-function: ease;
}

.accent {
  background-color: lightgreen;
  color: #999;
  display: inline-block;
}

@media screen and (max-width: 930px) {
  .wrapper {
    width: 100%;
  }

  .search {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: .5em;
  }

  table {
    font-size: .8em;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  70% {
    opacity: 1;
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
